*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    display: flex;
    justify-content: center;
}

canvas{
    position: absolute;
    top: 5vh;
}

#nextCanvas{
    left: 65vw;
    top: 10vh;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside div{
    display: flex;
    align-items: center;
}
aside div h2{
    padding-right: .5rem;
}